{% load tweet %}

<html lang="en">
<head>
	<title>tweet</title>

	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_core.bundle.css" />
	<link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_more_1.bundle.css" />

	{# This one doesn't seem to do anything #}
	{# <link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_more_2.bundle.css" /> #}

	<style>
	/*
	 * Disables the .icon selector
	 * which is accidentally applied to elements with the .Icon class
	 * (it doesn't on twitter for some reason)
	 */
	.Icon {
		vertical-align: baseline;
		background-image: none;
	}
	</style>

</head>

<body
		class="three-col logged-in ms-windows PermalinkPage no-nav-banners overlay-enabled supports-drag-and-drop"
		dir="ltr"
>
<div class="PermalinkOverlay PermalinkOverlay-with-background load-at-boot" id="permalink-overlay">
<div
		class="PermalinkOverlay-modal"
		id="permalink-overlay-dialog"
		role="dialog"
		aria-labelledby="permalink-overlay-header"
>
<div class="PermalinkOverlay-content" role="document">
<div class="PermalinkOverlay-body">
<div class="permalink-container permalink-container--withArrows" style="opacity: 1;">
<div role="main" class="permalink light-inline-actions stream-uncapped has-replies original-permalink-page">
<div class="replies-to permalink-inner permalink-replies">
<div class="tweets-wrapper">
<div id="descendants" class="ThreadedDescendants">
<div class="stream-container">
<div class="stream">
<ol class="stream-items" id="stream-items-id">
<li class="ThreadedConversation--loneTweet">
<ol class="stream-items">
<li	class="stream-item">

<div class="tweet dismissible-content descendant permalink-descendant-tweet" id="main">
	<div class="content">
		<div class="stream-item-header">
			<a class="account-group">
				<img alt="" class="avatar" src="{{ user.profile_image_url_https }}" />

				<span class="FullNameGroup">
					<strong class="fullname show-popup-with-id u-textTruncate">{{ user.name|emojies }}</strong>

					<span class="UserBadges">
					{% if user.verified %}
						<span class="Icon Icon--verified"></span>
					{% endif %}
					</span>
					<span class="UserNameBreak">&nbsp;</span>
				</span>

				<span class="username u-dir u-textTruncate"	dir="ltr">@<b>{{ user.screen_name }}</b></span>
			</a>

			<small class="time">
				<a class="tweet-timestamp">
					<span class="_timestamp">{{ created_at|age }}</span>
				</a>
			</small>

			<div class="ProfileTweet-action ProfileTweet-action--more">
				<div class="dropdown">
					<button
							class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle"
							type="button"
							aria-haspopup="true"
					>
						<div class="IconContainer">
							<span class="Icon Icon--caretDownLight Icon--small"></span>
						</div>
					</button>
				</div>
			</div>
		</div>

		<div class="ReplyingToContextBelowAuthor">
			Replying to
	        <a class="pretty-link" dir="ltr">
				<span class="username u-dir u-textTruncate" dir="ltr">@<b>jacksfilms</b></span>
	        </a>
		</div>
		<p class="TweetTextSize tweet-text" lang="en">{{ full_text|emojies }}</p>

		<div class="stream-item-footer">
			<div class="ProfileTweet-actionList" role="group" aria-label="Tweet actions">

				<div class="ProfileTweet-action ProfileTweet-action--reply">
					<button class="ProfileTweet-actionButton" type="button">
						<div class="IconContainer">
							<span class="Icon Icon--medium Icon--reply"></span>
						</div>
						{# fucking assholes don't give reply count :/ #}
						<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
							<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
						</span>
					</button>
				</div>
				<div class="ProfileTweet-action ProfileTweet-action--retweet">
					<button class="ProfileTweet-actionButton" type="button">
						<div class="IconContainer">
							<span class="Icon Icon--medium Icon--retweet"></span>
						</div>
					{% if retweet_count == 0 %}
						<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
							<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
						</span>
					{% else %}
						<span class="ProfileTweet-actionCount">
							<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
								{{ retweet_count|count }}
							</span>
						</span>
					{% endif %}
					</button>
				</div>
				<div class="ProfileTweet-action ProfileTweet-action--favorite">
					<button class="ProfileTweet-actionButton" type="button">
						<div class="IconContainer">
							<span role="presentation" class="Icon Icon--heart Icon--medium"></span>
							<div class="HeartAnimation"></div>
						</div>
					{% if favorite_count == 0 %}
						<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
							<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
						</span>
					{% else %}
						<span class="ProfileTweet-actionCount">
							<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
								{{ favorite_count|count }}
							</span>
						</span>
					{% endif %}
					</button>
				</div>
				<div class="ProfileTweet-action ProfileTweet-action--dm">
					<button class="ProfileTweet-actionButton u-textUserColorHover" type="button">
						<div class="IconContainer">
							<span class="Icon Icon--medium Icon--dm"></span>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

</li></ol></li></ol></div></div></div></div></div></div></div></div></div></div></div></body>
</html>
