<html data-scribe-reduced-action-queue="true" lang="en">
<head>
	<title>tweet</title>

	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_core.bundle.css" />
	<link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_more_1.bundle.css" />

	<!--
	<link rel="stylesheet" href="https://abs.twimg.com/a/1548278062/css/t1/nightmode_twitter_more_2.bundle.css" />
	<link rel="preload" href="https://abs.twimg.com/k/en/init.en.28044e24fa44011b6a57.js" as="script">
	<link rel="preload" href="https://abs.twimg.com/k/en/0.commons.en.e3fc9ce1b78c2df663da.js" as="script">
	<link rel="preload" href="https://abs.twimg.com/k/en/5.pages_permalink.en.d01701ba3cce1f0d3917.js" as="script">
	<script type="text/javascript" charset="utf-8" async="" src="https://abs.twimg.com/k/en/0.commons.en.e3fc9ce1b78c2df663da.js"></script>
	<script type="text/javascript" charset="utf-8" async="" src="https://abs.twimg.com/k/en/5.pages_permalink.en.d01701ba3cce1f0d3917.js"></script>
	-->

	<style>
	/*
	 * Disables the .icon selector
	 * which is accidentally applied to elements with the .Icon class
	 * (it doesn't on twitter for some reason)
	 */
	.Icon {
		vertical-align: baseline;
		background-image: none;
	}
	</style>

</head>
<body
		class="three-col logged-in user-style-mviki_Tanoli ms-windows PermalinkPage no-nav-banners overlay-enabled supports-drag-and-drop"
		data-fouc-class-names="swift-loading no-nav-banners"
		dir="ltr"
>
<div class="PermalinkOverlay PermalinkOverlay-with-background load-at-boot" id="permalink-overlay">
<div
		class="PermalinkOverlay-modal"
		id="permalink-overlay-dialog"
		role="dialog"
		aria-labelledby="permalink-overlay-header"
>
<div class="PermalinkOverlay-content" role="document">
<div class="PermalinkOverlay-body" data-background-path="/mviki_Tanoli">
<div class="permalink-container permalink-container--withArrows" style="opacity: 1;">
<div role="main" class="permalink light-inline-actions stream-uncapped has-replies original-permalink-page">
<div class="replies-to  permalink-inner permalink-replies" data-component-context="replies">
<div class="tweets-wrapper">
<div id="descendants" class="ThreadedDescendants">
<div class="stream-container" data-max-position="" data-min-position="">
<div class="stream">
<ol class="stream-items js-navigable-stream" id="stream-items-id">
<li class="ThreadedConversation--loneTweet">
<ol class="stream-items">

<li
		class="js-stream-item stream-item stream-item"
		data-item-id="1089175415699238912"
		data-item-type="tweet"
		data-suggestion-json="{&quot;suggestion_details&quot;:{},&quot;tweet_ids&quot;:&quot;1089175415699238912&quot;,&quot;scribe_component&quot;:&quot;tweet&quot;}"
		id="main"
>
	<div
			class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content descendant permalink-descendant-tweet"
			data-component-context="replies"
			data-conversation-id="1089164750141952000"
			data-conversation-section-quality="HighQuality"
			data-disclosure-type=""
			data-follows-you="false"
			data-has-parent-tweet="true"
			data-item-id="1089175415699238912"
			data-mentions="mviki_Tanoli"
			data-name="Muniba Mazari"
			data-permalink-path="/muniba_mazari/status/1089175415699238912"
			data-reply-to-users-json="[{&quot;id_str&quot;:&quot;1139322073&quot;,&quot;screen_name&quot;:&quot;muniba_mazari&quot;,&quot;name&quot;:&quot;Muniba Mazari&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Muniba Mazari&quot;,&quot;emojified_text_as_html&quot;:&quot;Muniba Mazari&quot;}},{&quot;id_str&quot;:&quot;980505042418585600&quot;,&quot;screen_name&quot;:&quot;mviki_Tanoli&quot;,&quot;name&quot;:&quot;WAQAR ASLAM&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;WAQAR ASLAM&quot;,&quot;emojified_text_as_html&quot;:&quot;WAQAR ASLAM&quot;}}]"
			data-screen-name="muniba_mazari"
			data-tweet-id="1089175415699238912"
			data-tweet-nonce="1089175415699238912-8f81e8ab-72b2-4bdd-94f6-e5354492c827"
			data-tweet-stat-initialized="true"
			data-user-id="1139322073"
			data-you-block="false"
			data-you-follow="false"
	>
		<div class="context">

		</div>

		<div class="content">
			<div class="stream-item-header">
				<a
						class="account-group js-account-group js-action-profile js-user-profile-link js-nav"
						href="#"
						data-user-id="1139322073"
				>
					<img
							class="avatar js-action-profile-avatar"
							src="https://pbs.twimg.com/profile_images/1087951521361379330/bNX0t71F_bigger.jpg"
							alt=""
					>
					<span class="FullNameGroup">
						<strong
								class="fullname show-popup-with-id u-textTruncate "
								data-aria-label-part=""
						>
							Muniba Mazari
						</strong>
						<span>
						‏</span>
						<span class="UserBadges">
							<span class="Icon Icon--verified">
								<span class="u-hiddenVisually">Verified account</span>
							</span>
						</span>
						<span class="UserNameBreak">&nbsp;</span>
					</span>
					<span
							class="username u-dir u-textTruncate"
							dir="ltr"
							data-aria-label-part=""
					>
						@<b>muniba_mazari</b>
					</span>
				</a>

				<small class="time">
					<a
							href="#"
							class="tweet-timestamp js-permalink js-nav js-tooltip"
							title="4:57 PM - 26 Jan 2019"
							data-conversation-id="1089164750141952000"
					>
						<span
								class="_timestamp js-short-timestamp "
								data-aria-label-part="last"
								data-time="1548514629"
								data-time-ms="1548514629000"
								data-long-form="true"
						>
							Jan 26
						</span>
					</a>
				</small>

				<div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
					<div class="dropdown">
						<button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button" aria-haspopup="true">
							<div class="IconContainer js-tooltip" title="More">
								<span class="Icon Icon--caretDownLight Icon--small"></span>
								<span class="u-hiddenVisually">More</span>
							</div>
						</button>
						<div class="dropdown-menu is-autoCentered">
							<div class="dropdown-caret">
								<div class="caret-outer"></div>
								<div class="caret-inner"></div>
							</div>
							<ul>
								<li class="copy-link-to-tweet js-actionCopyLinkToTweet">
									<button type="button" class="dropdown-link">Copy link to Tweet</button>
								</li>
								<li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
									<button type="button" class="dropdown-link">Embed Tweet</button>
								</li>
								<li class="mute-user-item">
									<button type="button" class="dropdown-link">
										Mute <span class="username u-dir u-textTruncate" dir="ltr">@<b>muniba_mazari</b></span>
									</button>
								</li>
								<li class="unmute-user-item">
									<button type="button" class="dropdown-link">
										Unmute <span class="username u-dir u-textTruncate" dir="ltr">@<b>muniba_mazari</b></span>
									</button>
								</li>
								<li class="block-link js-actionBlock" data-nav="block">
									<button type="button" class="dropdown-link">
										Block <span class="username u-dir u-textTruncate" dir="ltr">@<b>muniba_mazari</b></span>
									</button>
								</li>
								<li class="unblock-link js-actionUnblock" data-nav="unblock">
									<button type="button" class="dropdown-link">
										Unblock <span class="username u-dir u-textTruncate" dir="ltr">@<b>muniba_mazari</b></span>
									</button>
								</li>
								<li class="report-link js-actionReport" data-nav="report">
									<button type="button" class="dropdown-link">
										Report Tweet
									</button>
								</li>
								<li class="dropdown-divider">

								</li>
								<li class="js-actionMomentMakerAddTweetToOtherMoment MomentMakerAddTweetToOtherMoment">
									<button type="button" class="dropdown-link">Add to other Moment</button>
								</li>
								<li class="js-actionMomentMakerCreateMoment">
									<button type="button" class="dropdown-link">Add to new Moment</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="ReplyingToContextBelowAuthor" data-aria-label-part="">
				Replying to
        <a
            class="pretty-link js-user-profile-link"
            href="#"
            data-user-id="980505042418585600"
            rel="noopener" dir="ltr"
        >
          <span class="username u-dir u-textTruncate" dir="ltr">@<b>mviki_Tanoli</b></span>
        </a>
			</div>
			<div class="js-tweet-text-container">
				<p class="TweetTextSize js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Stay blessed! :)</p>
			</div>

			<div class="stream-item-footer">
				<div class="ProfileTweet-actionCountList u-hiddenVisually">
					<span class="ProfileTweet-action--reply u-hiddenVisually">
						<span class="ProfileTweet-actionCount" aria-hidden="true" data-tweet-stat-count="0">
							<span
									class="ProfileTweet-actionCountForAria"
									id="profile-tweet-action-reply-count-aria-1089175415699238912"
							>
								0 replies
							</span>
						</span>
					</span>
					<span class="ProfileTweet-action--retweet u-hiddenVisually">
						<span class="ProfileTweet-actionCount" aria-hidden="true" data-tweet-stat-count="0">
							<span
                  class="ProfileTweet-actionCountForAria"
                  id="profile-tweet-action-retweet-count-aria-1089175415699238912"
              >0 retweets</span>
						</span>
					</span>
					<span class="ProfileTweet-action--favorite u-hiddenVisually">
						<span class="ProfileTweet-actionCount" data-tweet-stat-count="12">
							<span
                  class="ProfileTweet-actionCountForAria"
                  id="profile-tweet-action-favorite-count-aria-1089175415699238912"
                  data-aria-label-part=""
              >
                12 likes
              </span>
						</span>
					</span>
				</div>
				<div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
					<div class="ProfileTweet-action ProfileTweet-action--reply">
						<button
                class="ProfileTweet-actionButton js-actionButton js-actionReply"
                data-modal="ProfileTweet-reply"
                type="button"
                aria-describedby="profile-tweet-action-reply-count-aria-1089175415699238912"
            >
							<div class="IconContainer js-tooltip" title="Reply">
								<span class="Icon Icon--medium Icon--reply"></span>
								<span class="u-hiddenVisually">Reply</span>
							</div>
							<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
								<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
							</span>
						</button>
					</div>
					<div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
						<button
								class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
								data-modal="ProfileTweet-retweet"
								type="button"
								aria-describedby="profile-tweet-action-retweet-count-aria-1089175415699238912"
						>
							<div class="IconContainer js-tooltip" title="Retweet">
								<span class="Icon Icon--medium Icon--retweet"></span>
								<span class="u-hiddenVisually">Retweet</span>
							</div>
							<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
								<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
							</span>
						</button>
						<button
								class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet"
								data-modal="ProfileTweet-retweet"
								type="button"
						>
							<div class="IconContainer js-tooltip" title="Undo retweet">
								<span class="Icon Icon--medium Icon--retweet"></span>
								<span class="u-hiddenVisually">Retweeted</span>
							</div>
							<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
								<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
							</span>
						</button>
					</div>
					<div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
						<button
								class="ProfileTweet-actionButton js-actionButton js-actionFavorite"
								type="button"
								aria-describedby="profile-tweet-action-favorite-count-aria-1089175415699238912">
							<div class="IconContainer js-tooltip" title="Like">
								<span role="presentation" class="Icon Icon--heart Icon--medium"></span>
								<div class="HeartAnimation"></div>
								<span class="u-hiddenVisually">Like</span>
							</div>
							<span class="ProfileTweet-actionCount">
								<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">12</span>
							</span>
						</button>
						<button
								class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite"
								type="button"
						>
							<div class="IconContainer js-tooltip" title="Undo like">
								<span role="presentation" class="Icon Icon--heart Icon--medium"></span>
								<div class="HeartAnimation"></div>
								<span class="u-hiddenVisually">Liked</span>
							</div>
							<span class="ProfileTweet-actionCount">
								<span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">12</span>
							</span>
						</button>
					</div>
					<div class="ProfileTweet-action ProfileTweet-action--dm">
						<button
								class="ProfileTweet-actionButton u-textUserColorHover js-actionButton js-actionShareViaDM"
								type="button"
								data-nav="share_tweet_dm"
						>
							<div class="IconContainer js-tooltip" title="Direct message">
								<span class="Icon Icon--medium Icon--dm"></span>
								<span class="u-hiddenVisually">Direct message</span>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dismiss-module">
		<div class="dismissed-module">
			<div class="feedback-actions">
				<div class="feedback-action" data-feedback-type="DontLike" data-feedback-url="">
					<div class="action-confirmation dismiss-module-item">
						Thanks. Twitter will use this to make your timeline better.
						<span class="undo-action">Undo</span>
					</div>
				</div>
			</div>
			<div class="child-feedback-confirmation">
				<div class="child-confirmation-item">
					<span class="child-confirmation-text"></span>
					<span class="undo-child-feedback-action">Undo</span>
				</div>
			</div>
		</div>
	</div>

</li>
</ol></li></ol></div></div></div></div></div></div></div></div></div></div></div></body>
</html>
