django
watson_developer_cloud
moviepy

# youtube_dl fork that supports reverse indexing
# TODO: check if it was merged already
git+https://github.com/ALurker/youtube-dl.git@6845_playlist_start_and_reverse_fix
